<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Intune Assignment Checker"
      Manufacturer="Ugur Koc"
      Version="$(ProductVersion)"
      ProductCode="$(ProductCode)"
      UpgradeCode="{B9D9989C-00DE-474C-B085-3E8848CBE173}"
      Language="1033"
      Scope="perMachine">
    <SummaryInformation Description="PowerShell module and terminal UI for Intune assignment governance" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Intune Assignment Checker is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="PowerShellFolder" Name="PowerShell">
        <Directory Id="PowerShellModulesFolder" Name="Modules" />
      </Directory>
      <Directory Id="ApplicationFolder" Name="Intune Assignment Checker">
        <Directory Id="CommandFolder" Name="bin" />
      </Directory>
    </StandardDirectory>

    <Feature Id="Complete" Title="Intune Assignment Checker" Level="1">
      <ComponentGroupRef Id="PowerShellModuleFiles" />
      <ComponentRef Id="CommandLauncher" />
      <ComponentRef Id="PowerShellLauncher" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="PowerShellModuleFiles" Directory="PowerShellModulesFolder">
      <Files Include="!(bindpath.ModuleSource)\**" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Component Id="CommandLauncher" Directory="CommandFolder" Guid="{8E4D71C8-1F16-4E7C-9B2F-997B6DCB5C35}">
      <File Id="CommandLauncherFile" Source="!(bindpath.LauncherSource)\IntuneAssignmentChecker.cmd" KeyPath="yes" />
      <Environment
          Id="CommandPath"
          Name="PATH"
          Value="[CommandFolder]"
          Action="set"
          Part="last"
          System="yes" />
    </Component>
    <Component Id="PowerShellLauncher" Directory="CommandFolder" Guid="{D2E84724-3F47-4A89-A67A-52C0430123B7}">
      <File Id="PowerShellLauncherFile" Source="!(bindpath.LauncherSource)\Start-IntuneAssignmentChecker.ps1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
